{name, "stree"}.
{description, "Draws a supervision tree given the registered supervisor name"}.
{homepage, "https://github.com/djui/stree"}.
{url, {git, "https://github.com/nox/stree.git", {branch, "rebarify"}}}.
{authors, ["Uwe Dauernheim <uwe@klarna.com>"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
